@tailwind base;
@tailwind components;
@tailwind utilities;


.hypnotic {
    /* width: 30px;
    height: 30px; */
    display: grid;
    background: linear-gradient(90deg,#474bff 2.2px,#0000 0 calc(100% - 2.2px),#474bff 0) center/100% 15.7px,
           linear-gradient(0deg, #474bff 2.2px,#0000 0 calc(100% - 2.2px),#474bff 0) center/15.7px 100%,
           linear-gradient(#474bff 0 0) center/100% 2.2px,
           linear-gradient(#474bff 0 0) center/2.2px 100%;
    background-repeat: no-repeat;
    animation: hypnotic-8xnm9d 4s infinite linear;
 }
 
 .hypnotic::before,
 .hypnotic::after {
    content: "";
    grid-area: 1/1;
    background: inherit;
    transform-origin: inherit;
    animation: inherit;
 }
 
 .hypnotic::after {
    animation-duration: 2s;
 }
 
 @keyframes hypnotic-8xnm9d {
    100% {
       transform: rotate(1turn);
    }
 }
 .hypnotic2 {
  
   display: grid;
   background: linear-gradient(90deg,#ce3f21 2.2px,#0000 0 calc(100% - 2.2px),#ce3f21 0) center/100% 15.7px,
          linear-gradient(0deg, #ce3f21 2.2px,#0000 0 calc(100% - 2.2px),#ce3f21 0) center/15.7px 100%,
          linear-gradient(#ce3f21 0 0) center/100% 2.2px,
          linear-gradient(#ce3f21 0 0) center/2.2px 100%;
   background-repeat: no-repeat;
   animation: hypnotic-8xnm9d 4s infinite linear;
}

.hypnotic2::before,
.hypnotic2::after {
   content: "";
   grid-area: 1/1;
   background: inherit;
   transform-origin: inherit;
   animation: inherit;
}

.hypnotic2::after {
   animation-duration: 2s;
}

